{% extends "base.html" %}
{% block title %}{{ 'Редактировать' if edit else 'Новый пост' }}{% endblock %}

{% block content %}
<h2>{{ 'Редактировать' if edit else 'Новый пост' }}</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <label>{{ form.content }}</label><br><br>
    <label>{{ form.is_public }} Публичный пост</label><br>
    <label>{{ form.request_only }} Скрытый пост</label><br><br>
    <label>Теги<br>{{ form.tags }}</label><br><br>
    <button type="submit">Опубликовать</button>
</form>
{% endblock %}
