{% extends "base.html" %}
{% block title %}Главная{% endblock %}

{% block content %}
<h2>Публичные посты</h2>
{% for post in posts %}
<article>
        <small>Автор: {{ post.author.username }} | {{ post.date_posted.strftime('%Y-%m-%d %H:%M') }}</small>
        {% if post.author.id != current_user.id %}
            {% if post.author not in current_user.subscriptions %}
                <form method="POST" action="{{ url_for('subscribe', user_id=post.author.id) }}" style="display:inline;">
                    <button type="submit">Подписаться на {{ post.author.username }}</button>
                </form>
            {% else %}
                <span>✓</span>
            {% endif %}
        {% endif %}
    {% if post.request_only and post.author != current_user %}
        <p><em>Это скрытый пост.</em></p>
    {% elif post.request_only and post.author == current_user %}
            <small><i>Этот пост был скрыт по Вашему запросу и виден только Вам.</i></small>
            <p>{{ post.content }}</p>
    {% else %}
        <p>{{ post.content }}</p>
    {% endif %}
    {% for tag in post.tags %}
        <a href="{{ url_for('posts_by_tag', tag_name=tag.name) }}">#{{ tag.name }}</a>
    {% endfor %}
        <br>
        <a href="{{ url_for('view_post', post_id=post.id) }}">Посмотреть пост</a>
    {% if current_user.is_authenticated %}
        
        | <a href="{{ url_for('view_post', post_id=post.id) }}">Комментировать</a>
    {% endif %}
    {% if post.author.id == current_user.id %}
        | <a href="{{ url_for('edit_post', post_id=post.id) }}">Редактировать</a>
        | <form method="POST" action="{{ url_for('delete_post', post_id=post.id) }}" style="display:inline;">
            <button type="submit">Удалить</button>
        </form>
    {% endif %}
</article>
<hr>
{% endfor %}
{% endblock %}
